# Copyright (c) 2025 Felix Kahle.
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

name: Bollard Build and Test
permissions:
  contents: read

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_test:
    name: Test (${{ matrix.profile }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        profile: [debug, release]

    steps:
      - uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ matrix.profile }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ matrix.profile }}-

      - name: Set Cargo Flags
        id: flags
        shell: bash
        run: |
          if [ "${{ matrix.profile }}" == "release" ]; then
            echo "arg=--release" >> $GITHUB_OUTPUT
          else
            echo "arg=" >> $GITHUB_OUTPUT
          fi

      - name: Check Formatting
        if: matrix.profile == 'debug'
        run: cargo fmt --all -- --check

      - name: Clippy
        if: matrix.profile == 'debug'
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Build (${{ matrix.profile }})
        run: cargo build --verbose ${{ steps.flags.outputs.arg }} --workspace

      - name: Test (${{ matrix.profile }})
        run: cargo test --verbose ${{ steps.flags.outputs.arg }} --workspace
